<!DOCTYPE html>
<html lang="en">
<head>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
<script src="javascripts/app.js"></script>
</head>
<body>
<h1>Please enter the details...</h1>  
/*Takes search parameters from client*/
  <div ng-app="angularjsNodejsTutorial" ng-controller="searchCtrl" >

       Title:
      <input type="text" ng-model="form.title"  required />
      <br>
      <br>Year of Release:
      <input type="text" ng-model="form.year"  required />
      <br>
      <br><button ng-click="submitSearch()">Search</button>
      <br><br>
      
      /*Display the details of requested movie from server for update*/  
    <table>  
     <tr>Actors:<input  ng-model="actors" /></tr>
            <br><br>
<tr>Directors:<input  ng-model="directors" /></tr>
           <br><br>
     <tr>Genres:<input  ng-model="genres" /></tr>
         <br><br>
      <tr> <button ng-click="submitUpdate()">Update</button></tr>
    </table> 
       
 </div>
 </body>
</html>
